@media(max-width: 950px) {
    .list-fields {
        flex-direction: column;
    }
}
@media(max-width: 900px) {
    
    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: flex !important;
    }

    header {
        height: 56px;
        padding: 0 13px;
        justify-content: space-between;
    }

    .text-logo {
        max-width: max-content;
    }

    .content-container {
        flex-direction: column;
        padding: 0px;
        margin-top: 24px;
        margin-bottom: 24px;
        gap: 16px;
    }

    .left-item {
        width: 100%;
        gap: 16px;
    }

    h2 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        font-weight: 700;
        margin-left: 16px;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        font-weight: 700;
    }

    .new-price .price-number {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    
    .basket {
        gap: 32px;
    }

    .basket-elem {
        padding: 0 16px;
    }

    .list-products {
        gap: 16px;
    }

    .product {
        flex-direction: column;
    }

    .product-image-box {
        position: relative;
    }

    .checkbox-container {
        position: absolute;
        top: 4px;
        left: 4px;
    }

    .checkbox_white_mobile+label::before {
        background: white;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .product-info {
        font-size: 14px;
        line-height: 20px;
    }

    .product-image {
        height: 106px;
        width: 80px;
    } 

    .product-right-elem {
        width: 100%;
    }

    .price-container {
        flex-direction: row;
        justify-self: left;
        align-items: center;
        gap: 5px;
    }

    .quantity-container {
        flex-direction: row;
    }



    .registration {
        gap: 12px;
        padding: 0;
    }

    .delivery-container {
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .mobile-mb-12 {
        margin-bottom: 12px;
    }

    .mobile-mb-16 {
        margin-bottom: 16px;
    }

    .mobile-mb-24 {
        margin-bottom: 24px;
    }

    .change-btn {
        padding-top: 3px;
    }

    .registration-elem {
        padding-left: 16px;
        padding-right: 16px;
    }

    .list-fields {
        gap: 16px;
    }

    .recipient {
        margin-bottom: 8px;
    }

    .field-comment {
        font-size: 12px;
        line-height: 14px;
        margin-left: -1px;
        margin-top: -4px;
    }
    
    .field-input {
        margin-left: -1px;
    }

    .field-border {
        margin-bottom: 3px;
    }

    .field-error-message {
        margin-left: -1px;
    }

    .right-item {
        width: calc(100% - 48px);
        background-color: rgba(246, 246, 250, 1);
        padding: 8px 16px 16px 16px;
        margin-top: 0;
    }

    .finish-container {
        gap: 16px;
    }

    .gray-box {
        background-color: rgba(240, 236, 244, 1);
    }

    .pink-btn-box {
        margin-top: 8px;
    }
}


@media(max-width: 600px) {
    .modal-window {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .modal-window-header{
        padding: 16px 11px 13px 16px;
    }

    .modal-window-content {
        flex-grow: 1;
        padding: 0px 16px;
    }

    .modal-window-content.delivery-content {
        padding: 0;
    }

    .modal-window h3 {
        font-weight: 600;
    }

    .method-container {
        padding: 0 16px;
    }

    .address-container {
        padding: 0 14px;
    }

    .enter-btn-container {
        display: flex;
    }

    .enter-btn {
        width: 100% !important;
        margin: 16px !important;
    }

    .form_radio_btn label {
        height: 40px;
        border-radius: 20px;
    }
}