@media(max-width: 900px) {
    
    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: flex !important;
    }

    header {
        height: 56px;
        padding: 0 13px;
        justify-content: space-between;
    }

    .text-logo {
        max-width: max-content;
    }

    .content-container {
        flex-direction: column;
        padding: 0px;
    }

    .left-item {
        width: 100%;
    }

    h2 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
    }

    .finish-container {
        gap: 16px;
    }

    .gray-box {
        background-color: rgba(240, 236, 244, 1);
    }

    .product {
        flex-direction: column;
    }

    .new-price .price-number {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .list-fields {
        flex-direction: column;
    }

    .right-item {
        width: calc(100% - 48px);
        background-color: rgba(246, 246, 250, 1);
    }




}